@* @model IEnumerable<prjJapanTravel_backendMVC.Models.Itinerary行程>
@{
    ViewData["Title"] = "ItineraryList";
}
<div class="text-center">
    <h1 class="display-4">旅遊行程管理</h1>
    <h1>ItineraryList</h1>

    <p>
        <a asp-action="ItineraryCreate">新增行程</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    序號
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.行程編號)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.行程名稱)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.體驗)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.總團位)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.價格)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.主題)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.地區)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.出團備註)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>
                            @count;
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.行程編號)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.行程名稱)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.體驗)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.總團位)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.價格)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.主題)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.地區)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.出團備註)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("刪除", "ItineraryDelete", "Itinerary", new { id = item.行程系統編號 }, null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div> *@