@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.ProductViewModels.ItineraryListViewModel>

@{
    ViewData["Title"] = "行程列表";
}

<h1 style="text-align: center; margin: 0; padding-top: 30px;">行程列表</h1>

<p>
    <a asp-action="ItineraryCreate">建立行程</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.體驗項目)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.總團位)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.價格)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程圖片)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.行程編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.行程名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.體驗項目)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.總團位)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.價格)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地區)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.行程圖片)
            </td>
            <td>
                @Html.ActionLink("行程詳情", "Details", "Product", new { id=item.行程系統編號 }) |
                @Html.ActionLink("修改", "ItineraryEdit", "Product", new { id = item.行程系統編號 }) |
                @Html.ActionLink("刪除", "ItineraryDelete", "Product", new { id = item.行程系統編號 })
            </td>
        </tr>
            }
        }
    </tbody>
</table>
