@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.ProductViewModels.ItineraryViewModel>

@{
    ViewData["Title"] = "行程列表";
}
@section Styles
{

    <style>
        th {
            font-weight: bold;
            font-size: large;
            color: black;
        }
        table{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
}
<h1 style="text-align: center; margin: 0; padding-top: 30px;">行程列表</h1>


 <a asp-action="ItineraryCreate" class="btn btn-outline-secondary">建立行程</a>
<table id="myTable" class="table table-striped table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程編號)
            </th>
            <th style="width:400px">
                @Html.DisplayNameFor(model => model.行程名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.體驗項目)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.總團位)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.價格)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程日期)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.行程圖片)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.行程編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.行程名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.體驗項目)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.總團位)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.價格)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.地區)
                    </td>
                    <td>
                        @if (item.行程日期 != null && item.行程日期.Any())
                        {
                            foreach (var date in item.行程日期)
                            {
                                <span>@date.DepartureDate</span>
                                <br />
                            }
                        }
                        else
                        {
                            <span>無出發日期</span>
                        }
                    </td>
                    <td>
                        @if (item.行程圖片 != null && item.行程圖片.Count > 0)
                        {
                            <img src="~/images/Product/@item.行程圖片[0].ImagePath"
                                 alt=""
                                 style="width:100px; height:100px" />
                        }
                        else
                        {
                            <span>無圖片</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("修改", "ItineraryEdit", "Product", new { id = item.行程系統編號 }, new { @class = "btn btn-outline-dark btn-sm" })
                        @Html.ActionLink("刪除", "ItineraryDelete", "Product", new { id = item.行程系統編號 }, new { @class = "btn btn-outline-danger btn-sm", onclick = "return confirm('請確認是否刪除')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts
{
   
    <script>
       
    </script>
}