@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.ProductViewModels.ItineraryViewModel>

@{
    ViewData["Title"] = "行程列表";
}
@section Styles
{
    <link href="~\lib\DataTables\css\datatables.min.css" rel="stylesheet" />

    <style>

    </style>
}
<h1 style="text-align: center; margin: 0; padding-top: 30px;">行程列表</h1>

<button class="btn btn-outline-secondary">
    <a asp-action="ItineraryCreate">建立行程</a>
</button>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.體驗項目)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.總團位)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.價格)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程圖片)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.行程編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.行程名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.體驗項目)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.總團位)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.價格)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.地區)
                    </td>
                    <td>
                        @if (item.行程日期 != null && item.行程日期.Any())
                        {
                            foreach (var date in item.行程日期)
                            {
                                <span>@date.DepartureDate</span>
                                <br />
                            }
                        }
                        else
                        {
                            <span>無出發日期</span>
                        }
                    </td>
                    <td>
                        @if (item.行程圖片 != null && item.行程圖片.Count > 0)
                        {
                            <img src="~/images/Product/@item.行程圖片[0].ImagePath"
                                 alt=""
                                 style="width:100px; height:100px" />
                        }
                        else
                        {
                            <span>無圖片</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("行程詳情", "Details", "Product", new { id = item.行程系統編號 }) |
                        @Html.ActionLink("修改", "ItineraryEdit", "Product", new { id = item.行程系統編號 }) |
                        @Html.ActionLink("刪除", "ItineraryDelete", "Product", new { id = item.行程系統編號 })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts
{
    <script src="~\lib\DataTables\css\datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("table").DataTable({
                // 在這裡你可以自定義 DataTables 的配置
                "paging": true,      // 啟用分頁
                "searching": true,   // 啟用搜尋
                "ordering": true,    // 啟用排序
                "info": true         // 顯示表格資訊
            });
        });
    </script>
}