@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.ShipmentViewModels.ShipmentListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                出航港口
            </th>
            <th>
                目的地
            </th>
            <th>
                票價
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginPortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationPortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("詳細資料", "Detail", new { id = item.RouteId }) |
                        @Html.ActionLink("修改", "Edit", new { id = item.RouteId }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.RouteId }, new { onclick = "return confirm('確定要刪除嗎')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
