@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.OrderViewModels.ItineraryOrderDetailViewModel>

@{
    ViewData["Title"] = "Details";
}
<div style="margin-left:1%">
    <h1> @ViewBag.MemberName 的訂單明細</h1>
    <h4> 訂單編號 @ViewBag.OrderNumber</h4>
</div>

<p style="margin:12px">
    <a asp-action="List" class="btn btn-outline-info">返回</a>
</p>
<table class="table table-hover">
    <thead class="table-primary">
        <tr style="font-size:20px">
            <th>
                序
            </th>
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.行程名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.日期)
            </th>
            <th style="width:30%">
                @Html.DisplayNameFor(model => model.行程須知)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.單價)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠券名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠金額)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.總金額)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr style="font-size:16px">
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.行程名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.行程須知)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.數量)
            </td>
            <td>
                @item.單價.ToString("###,###,#0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.優惠券名稱)
            </td>
            <td>
                @(item.優惠金額.HasValue ? item.優惠金額.Value.ToString("N0") : "0")
            </td>
            <td>
                @item.總金額.ToString("###,###,#0")
            </td>
        </tr>
}}
    </tbody>
</table>
