@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.OrderViewModels.ItineraryOrderListViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>行程訂單管理</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增訂單</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ItineraryOrderId)
            </th >*@
            <th>
                @Html.DisplayNameFor(model => model.訂單編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.會員)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行程編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.下單時間)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.付款方式)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.付款狀態)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.付款時間)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.訂單狀態)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠券)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.總金額)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReveiwContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativeIdnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativePassportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepresentativePhoneNumber)
            </th> *@
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.ItineraryOrderId)
            </td>*@
            <td> 
                    @Html.DisplayFor(modelItem => item.訂單編號)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.會員)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.行程編號)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.數量)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.下單時間)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.付款方式)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.付款狀態)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.付款時間)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.訂單狀態)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.優惠券)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.總金額)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReveiwContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentativeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentativeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentativeIdnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentativePassportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepresentativePhoneNumber)
            </td> *@
            <td>
                    @Html.ActionLink("明細", "Details", "ItineraryOrder", new { id = item.行程訂單編號 }, null)
            </td>
            <td>
                    @Html.ActionLink("修改", "Edit", "ItineraryOrder", new { id = item.行程訂單編號 }, null)
                    @Html.ActionLink("取消", "Cancel", "ItineraryOrder", new { id = item.行程訂單編號 }, null)
            </td>
        </tr>
}
    </tbody>
</table>
