@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.MemberViewModels.MemberListViewModel>

@{
    ViewData["Title"] = "List";
}



<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                <p>頭像</p>
            </th>
            <th>
                <p>姓名</p>
            </th>
            <th>
                <p>性別</p>
            </th>
            <th>
                <p>生日</p>
            </th>
            <th>
                <p>城市</p>
            </th>
            <th>
                <p>電話</p>
            </th>
            <th>
                <p>Email</p>
            </th>
            <th>
                <p>會員等級</p>
            </th>
            <th>
                <p>會員狀態</p>
            </th>
        </tr>
    </thead>
    <tbody>
            
        @foreach (var item in Model) {
        <tr>
                <td>
                    <p><img src="~/images/Member/@item.頭像路徑" /></p>
                </td>
            <td>
                    <p>@item.會員姓名</p>
            </td>
            <td>
                    <p>@(item.性別 ? "男" : "女")</p>
            </td>
            <td>
                    <p>  @item.生日.ToString("yyyy年 MM月 dd日")</p>
            </td>
            <td>
                    <p>@item.城市</p>
            </td>
            <td>
                    <p>@item.電話</p>
            </td>
            <td>
                    <p>@item.Email</p>
            </td>
            <td>
                    <p> @item.會員等級</p>
            </td>
            <td>
                    <p>@item.會員狀態</p>
            </td>
        </tr>
}
    </tbody>
</table>
