@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.MemberViewModels.MemberListViewModel>

@{
    ViewData["Title"] = "List";
}

<form id="adminform">

    <div style="padding:50px">
        <div class="row">
            <div class="col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="Text" id="Keyword" name="Keyword" class="form-control" value="" placeholder="請輸入關鍵字" />
                <input type="text" id="MemberId" name="AdminId" class="form-control" value="" />
                <div class="mb-3">
                    <label for="AdminName" class="form-label" style="font-size:20px">管理員姓名</label>
                    <input type="text" id="AdminName" name="AdminName" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Account" class="form-label " style="font-size:20px">帳號</label>
                    <input type="text" id="Account" name="Account" class="form-control" id="AdminAccount" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label" style="font-size:20px">密碼</label>
                    <input type="text" id="Password" name="Password" class="form-control" disabled="disabled">
                </div>
                <button type="button" id="InsertAdmin" class="btn btn-primary">新增管理員</button>
                <button type="button" id="AlterAdmin" class="btn btn-primary" disabled="disabled">修改管理員</button>
                <button type="button" id="SubmitAdmin" class="btn btn-primary" disabled="disabled">儲存</button>
                <button type="button" id="CancelAdmin" class="btn btn-primary">取消</button>
                <button type="button" id="DeleteAdmin" class="btn btn-danger" disabled="disabled">刪除管理員</button>
            </div>

            @* ================================================================================= *@
            <div class="col-4" style="margin-left:75px;margin-top:30px;font-size:25px">
                <div class="form-check">
                    <input id="AdminManageStatus" name="AdminManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        管理員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="MemberManageStatus" name="MemberManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        會員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="IniteraryManageStatus" name="IniteraryManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        行程管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="ShipmentManageStatus" name="ShipmentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        航班管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="OrderManageStatus" name="OrderManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        訂單管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CouponManageStatus" name="CouponManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        優惠券管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CommentManageStatus" name="CommentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        評論管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="BlogManageStatus" name="BlogManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        部落格管理權限
                    </label>
                </div>
            </div>
            @* ============================================================================================= *@
            <div class="col-3">
                <img src="~/images/Admin/Noimage.png" id="image" class="img-thumbnail" alt="..." style="height:300px">
                <input type="file" id="btnphoto" name="photo" class="form-control" style="margin-top:30px" accept="image/*" disabled="disabled">
            </div>
        </div>
    </div>
</form>
<hr />
@* ================================================================================================================================= *@






<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                <p>頭像</p>
            </th>
            <th>
                <p>姓名</p>
            </th>
            <th>
                <p>性別</p>
            </th>
            <th>
                <p>生日</p>
            </th>
            <th>
                <p>城市</p>
            </th>
            <th>
                <p>電話</p>
            </th>
            <th>
                <p>Email</p>
            </th>
            <th>
                <p>會員等級</p>
            </th>
            <th>
                <p>會員狀態</p>
            </th>
        </tr>
    </thead>
    <tbody>
            
        @foreach (var item in Model) {
        <tr>
                <td>
                    <p><img src="~/images/Member/@item.頭像路徑" /></p>
                </td>
            <td>
                    <p>@item.會員姓名</p>
            </td>
            <td>
                    <p>@item.性別</p>
            </td>
            <td>
                    <p>  @item.生日.ToString("yyyy年 MM月 dd日")</p>
            </td>
            <td>
                    <p>@item.城市</p>
            </td>
            <td>
                    <p>@item.電話</p>
            </td>
            <td>
                    <p>@item.Email</p>
            </td>
            <td>
                    <p> @item.會員等級</p>
            </td>
            <td>
                    <p>@item.會員狀態</p>
            </td>
        </tr>
}
    </tbody>
</table>
