@model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.MemberViewModels.MemberViewModel>

@{
    ViewData["Title"] = "List";
}

<form id="memberform">

    <div style="padding:50px">
        <div class="row">
            <div class="col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="Text" id="Keyword" name="Keyword" class="form-control" value="" placeholder="請輸入關鍵字" />
                <input type="text" id="MemberId" name="會員編號" class="form-control" value="" disabled="disabled" />
                <div class="mb-3">
                    <label for="MemberName" class="form-label" style="font-size:20px">會員姓名</label>
                    <input type="text" id="MemberName" name="會員姓名" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="Phone" class="form-label " style="font-size:20px">手機號碼</label>
                    <input type="text" id="Phone" name="手機號碼" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label " style="font-size:20px">Email</label>
                    <input type="text" id="Email" name="Email" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label" style="font-size:20px">密碼</label>
                    <input type="text" id="Password" name="密碼" class="form-control" disabled="disabled">
                </div>
                <button type="button" id="btnInsert" class="btn btn-primary">新增會員</button>
                <button type="button" id="btnAlter" class="btn btn-primary" disabled="disabled">修改會員</button>
                <button type="button" id="btnSubmit" class="btn btn-primary" disabled="disabled">儲存</button>
                <button type="button" id="btnCancel" class="btn btn-primary">取消</button>
                <button type="button" id="btnDelete" class="btn btn-danger" disabled="disabled">刪除會員</button>
            </div>

            @* ================================================================================================================== *@
            <div class="col-3" style="margin-left:50px;margin-top:30px;font-size:25px">
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="性別" id="sexm" value="1" disabled="disabled" checked />
                        <label class="form-check-label" for="sexm">
                            男
                        </label>
                    </div>
                    <div class="form-check ml-5">
                        <input class="form-check-input" type="radio" name="性別" id="sexfm" value="0" disabled="disabled" />
                        <label class="form-check-label" for="sexfm">
                            女
                        </label>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="mb-3">
                        <label for="Birthday" class="form-label " style="font-size:20px">生日</label>
                        <input type="date" id="Birthday" name="生日" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="mb-3">
                        <label for="selectareas" class="form-label " style="font-size:20px">城市</label>
                        <select id="selectareas" name="城市" class="form-select form-select-lg mb-3" aria-label="Large select example" disabled="disabled">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="selectlevel" class="form-label " style="font-size:20px">會員等級</label>
                        <select id="selectlevel" name="會員等級" class="form-select form-select-lg mb-3" aria-label="Large select example" disabled="disabled">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="selectstatus" class="form-label " style="font-size:20px">會員狀態</label>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input class="form-check-input" id="noverified" type="radio" name="會員狀態" value="0" disabled="disabled" checked />
                                <label class="form-check-label">
                                    未驗證
                                </label>
                            </div>
                            <div class="form-check ml-4">
                                <input class="form-check-input" id="verified" type="radio" name="會員狀態" value="1" disabled="disabled" />
                                <label class="form-check-label">
                                    已驗證
                                </label>
                            </div>
                            <div class="form-check ml-5">
                                <input class="form-check-input" id="suspension" type="radio" name="會員狀態" value="2" disabled="disabled" />
                                <label class="form-check-label">
                                    停權
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* ============================================================================================= *@
            <div class="col-4" style="margin-left:50px">
                <img src="~/images/Admin/Noimage.png" id="image" class="img-thumbnail" alt="..." style="height:500px">
                <input type="file" id="btnphoto" name="photo" class="form-control" style="margin-top:30px" accept="image/*" disabled="disabled">
            </div>
        </div>
    </div>
</form>
<hr />
@* ================================================================================================================================= *@

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                <p>頭像</p>
            </th>
            <th>
                <p>姓名</p>
            </th>
            <th>
                <p>性別</p>
            </th>
            <th>
                <p>生日</p>
            </th>
            <th>
                <p>城市</p>
            </th>
            <th>
                <p>電話</p>
            </th>
            <th>
                <p>Email</p>
            </th>
            <th>
                <p>會員等級</p>
            </th>
            <th>
                <p>會員狀態</p>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr class="newrow" data-memberid="@item.會員編號">
                <td>
                    <p><img src="~/images/Member/@item.頭像路徑" /></p>
                </td>
                <td>
                    <p>@item.會員姓名</p>
                </td>
                <td>
                    <p>@item.性別</p>
                </td>
                <td>
                    <p>  @item.生日.ToString("yyyy年 MM月 dd日")</p>
                </td>
                <td>
                    <p>@item.城市</p>
                </td>
                <td>
                    <p>@item.手機號碼</p>
                </td>
                <td>
                    <p>@item.Email</p>
                </td>
                <td>
                    <p> @item.會員等級</p>
                </td>
                <td>
                    <p>@item.會員狀態</p>
                </td>
            </tr>

        }
    </tbody>
</table>

@section Scripts
{
    <script>
        const doman = "https://localhost:7146";
        const selectareas = document.getElementById('selectareas');
        const selectlevel = document.getElementById('selectlevel');
        const allrows = document.querySelectorAll('.newrow');

        //========所有控制項=====================================================================================================
        const MemberId = document.getElementById('MemberId');
        const MemberName = document.getElementById('MemberName');
        const Phone = document.getElementById('Phone');
        const Email = document.getElementById('Email');
        const Password = document.getElementById('Password');
        const sexm = document.getElementById('sexm');
        const sexfm = document.getElementById('sexfm');
        const Birthday = document.getElementById('Birthday');
        //============================================================================================================
        const noverified = document.getElementById('noverified');
        const verified = document.getElementById('verified');
        const suspension = document.getElementById('suspension');
        //==========btn===============================================================================================
        const btnphoto = document.getElementById('btnphoto');
        const btnInsert = document.getElementById('btnInsert');
        const btnAlter = document.getElementById('btnAlter');
        const btnSubmit = document.getElementById('btnSubmit');
        const btnCancel = document.getElementById('btnCancel');
        // ==============================================================================================
        let lastbtnclick = null;
        // ==============================================================================================

        function reset() {
            MemberId.value = '';
            MemberName.value = '';
            Phone.value = '';
            Email.value = '';
            Password.value = '';
            sexm.checked = true;
            Birthday.value = '';

            const selectcities = document.querySelectorAll('.selectcities');
            selectcities.forEach(op => {
                if (op.value == 1) {
                    op.selected = true;
                }
            })
            const selectlevels = document.querySelectorAll('.selectlevels');
            selectlevels.forEach(op => {
                if (op.value == 1) {
                    op.selected = true;
                }
            })
            noverified.checked = true;
            //=============================================================================================
            MemberName.disabled = true;
            Phone.disabled = true;
            Email.disabled = true;
            Password.disabled = true;
            sexm.disabled = true;
            sexfm.disabled = true;
            Birthday.disabled = true;
            selectareas.disabled = true;
            selectlevel.disabled = true;
            noverified.disabled = true;
            verified.disabled = true;
            suspension.disabled = true;
            btnphoto.disabled = true;
        }
        function enable() {
            MemberName.disabled = false;
            Phone.disabled = false;
            Email.disabled = false;
            Password.disabled = false;
            sexm.disabled = false;
            sexfm.disabled = false;
            Birthday.disabled = false;
            selectareas.disabled = false;
            selectlevel.disabled = false;
            noverified.disabled = false;
            verified.disabled = false;
            suspension.disabled = false;
            btnphoto.disabled = false;
        }
        function addrowEvent() {
            allrows.forEach((row) => {
                row.addEventListener('click', async () => {
                    let memberId = row.getAttribute('data-memberid');
                    const response = await fetch(`${doman}/api/MemberApi/GetMemberData/?memberId=${memberId}`,
                        {
                            method: "Get"
                        })
                    const data = await response.json();
                    console.log(data);

                    MemberId.value = data.memberId;
                    MemberName.value = data.memberName;
                    Phone.value = data.phone;
                    Email.value = data.email;
                    Password.value = data.password;
                    sexm.checked = data.gender ? true : false;
                    sexfm.checked = data.gender ? false : true;
                    Birthday.value = data.birthday.split('T')[0];

                    const selectcities = document.querySelectorAll('.selectcities');
                    selectcities.forEach(op => {
                        if (op.value == data.cityId) {
                            op.selected = true;
                        }
                    })
                    const selectlevels = document.querySelectorAll('.selectlevels');
                    selectlevels.forEach(op => {
                        if (op.value == data.memberLevelId) {
                            op.selected = true;
                        }
                    })
                    if (data.memberStatusId == 1) {
                        noverified.checked = true;
                    }
                    else if (data.memberStatusId == 2) {
                        verified.checked = true;
                    }
                    else if (data.memberStatusId == 3) {
                        suspension.checked = true;
                    }
                })


            })
        }
        window.onload = async () => {
            const responsecities = await fetch(`${doman}/MemberApi/GetAreaList`,
                {
                    method: "Get"
                })
            const citylist = await responsecities.json();
            const elecitylist = citylist.map(city => {
                return (`<option class="selectcities" value="${city['cityId']}">${city['city1']}</option>`)
            })
            selectareas.innerHTML = elecitylist.join("");
            //=================================================================================================
            const responselevels = await fetch(`${doman}/MemberApi/GetLevelList`,
                {
                    method: "Get"
                })
            const levellist = await responselevels.json();
            const elelevellist = levellist.map(level => {
                return (`<option class="selectlevels" value="${level['memberLevelId']}">${level['memberLevelName']}</option>`)
            })
            selectlevel.innerHTML = elelevellist.join("");
            //=============================================================================
            addrowEvent();
        }
        //=================新增按鈕============================================================
        btnInsert.addEventListener('click', (event) => {
            lastbtnclick = event.target;

            btnInsert.disable = true;
            btnSubmit.disabled = false;

            reset();
            enable();
        })
        //==============Submit====================================================================
        btnSubmit.addEventListener('click', async () => {
            let form = new FormData(memberform);   

            if (lastbtnclick.id == 'btnInsert') {

                const response = await fetch(`${doman}/MemberApi/InsertMember`,
                    {
                        method: "POST",
                        body: form,
                    })









            }
            else if (lastbtnclick.id == 'btnAlter') {

            }
        })
        //======================取消============================================================a
        btnCancel.addEventListener('click', () => {
            reset();
        })


    </script>



}
